* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  border-radius: 8px;
  background: #0f1b4c;
  color: #fff;
  font-size: 1.4rem;
}

/* ==============header============== */
.header {
  background: #e6f0ff;
  height: 736px;
  padding-top: 38px;
  position: relative;
}
/* nav */
.nav {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  margin-left: 50px;
}
.navbar-link {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 14px;
}
.action {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.action-link {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
}
.action-btn {
  margin-left: 18px;
  min-width: 98px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
}
/* hero */

.hero-info {
  margin-top: 130px;
  width: 559px;
}
.hero-info .sub-title {
  color: #687690;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.hero-info .title {
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 118.75%;
}
.hero-info .desc {
  color: #5a6473;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 3px;
}
.hero-btn {
  margin-top: 30px;
  min-width: 170px;
  line-height: 50px;
  font-size: 13px;
  font-weight: 500;
}
.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}
/* ==============main============== */
.clients-upper {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
}
.clients .left .desc {
  margin-top: 23px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
}
.clients .logo {
  display: block;
}
.stars {
  text-align: end;
}
.clients .ratings {
  margin-top: 18.5px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
}
.all-clients {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 91px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
