* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  background: #0f1b4c;
  color: #fff;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 500;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  overflow: hidden;
  -webkit-box-orient: vertical;
}
/* ==============header============== */
.header {
  background: #e6f0ff;
  height: 736px;
  padding-top: 38px;
  position: relative;
}
/* nav */
.nav {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  margin-left: 50px;
}
.navbar-link {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 14px;
}
.action {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.action-link {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
}
.action-btn {
  margin-left: 18px;
  min-width: 98px;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  border-radius: 8px;
}
/* hero */

.hero-info {
  margin-top: 130px;
  width: 559px;
}
.hero-info .sub-title {
  color: #687690;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.hero-info .title {
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 118.75%;
}
.hero-info .desc {
  color: #5a6473;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 3px;
}
.hero-btn {
  margin-top: 30px;
  min-width: 170px;
  line-height: 50px;
}
.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}
/* ==============main============== */
.clients-upper {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
}
.clients .left .desc {
  margin-top: 23px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
}
.clients .logo {
  display: block;
}
.stars {
  text-align: end;
}
.clients .ratings {
  margin-top: 18.5px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
}
.all-clients {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 91px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
/* guides */
.guides {
  margin-top: 174px;
}
.guides .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  position: relative;
}
.guides .sub-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-weight: 400;
  line-height: 187.5%;
}
.all-guides {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 140px;
}
.guides-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guides-inner .icon {
  display: block;
}
.guides-inner .guides-title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
}
.guides-inner .link {
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  gap: 8px;
}
.guides-btn-wrapper {
  display: flex;
  justify-content: center;
}
.guides-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  min-width: 170px;
  line-height: 50px;
}
/* featured */
.featured {
  margin-top: 120px;
  padding: 110px 0;
  background: #f5fafe;
}
.featured .title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.featured .desc {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.featured .desc .text {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}
.featured .desc .link {
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.featured .desc .link .arrow-icon {
  margin-left: 8px;
}

.featured-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 68px;
}
.featured-inner {
  border-radius: 12px;
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.featured-inner .thumb {
  display: block;
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.featured-inner .body {
  flex: 1;
  padding: 17px 20px 24px;
  display: flex;
  flex-direction: column;
}
.featured-inner .body .sub-title {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
.featured-inner .body .text {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 21px;
}
.featured-inner .body .info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.featured-inner .body .info .combo {
  display: flex;
  align-items: center;
}
.featured-inner .body .info span {
  margin-left: 8px;
}
